<%= hidden_field_tag 'test_id', @question.test_id %>
<%= hidden_field_tag 'question_id', @question.id %>
<%= hidden_field_tag 'question_type', @question.question_type %>
<% case @question.question_type %>
<% when 1 %>
    <table style="margin-bottom: 20px;">
      <tr><td><%= radio_button_tag :answer1, false %>ні</td></tr>
      <tr><td><%= radio_button_tag :answer1, true %>так</td></tr>
    </table>
<% when 2 %>
  <table style="margin-bottom: 20px;">
  <% @question.answer.each do |answer| %>
    <tr>
      <td><input type="checkbox" name="standard[]" value = "<%= answer.id %>" /></td>
      <td><%= answer.answer %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <% answers = @question.answer %>
  <table>
    <tr style="vertical-align: top">
      <td id = "compl">
       <% answers[0].each do |answer| %>
         <p  class = "noselect">
           <span id = "cl<%= answer.id %>" onClick="change_color('cl<%= answer.id %>');">
             <%= answer.field %>
           </span>
           <input type="hidden" name = "ucl<%= answer.id %>" id = "ucl<%= answer.id %>" value="8" />
         </p>
       <% end %>
      </td>

      <td id = "compr">
         <% answers[1].each do |answer| %>
           <p  class = "noselect">
             <span id = "cl<%= answer.id %>" onClick="change_color('cl<%= answer.id %>');">
               <%= answer.field %>
             </span>
             <input type="hidden" name = "ucr<%= answer.id %>" id = "ucl<%= answer.id %>" value="8" />
           </p>
         <% end %>
      </td>
    </tr>
  </table>
<% end %>