<body id="question_body">

<table id="head_panel">
  <tr>
    <td id="tbl_head_left"><%= link_to current_user.login, root_path %></td>
  </tr>
</table>
<div id = "question_content">
  <p id="question_header">Питання № <%= @test.question_count + 1 %></p>
  <%= form_for @question do |t| %>
    <%= t.hidden_field "question_test_id", :value => @test.id %>
    <table id = "question_form">
    <colgroup>
        <col width="200px">
        <col width="400px">
        <col width="200px">
    </colgroup>
    <tr>
      <td colspan="3">
        <%= t.text_area :condition, :id => "question_text" %>
      </td>
    </tr>
    <tr class="center">
      <td><%= t.radio_button :question_type, 1 %></td>
      <td><%= t.radio_button :question_type, 3 %></td>
      <td><%= t.radio_button :question_type, 2 %></td>
    </tr>
    <tr>
      <td>
        <%= render 'type_1' %>
      </td>

      <td>
        <%= render 'type_3' %>
      </td>

      <td id = "pright">
        <%= render 'type_2' %>
      </td>
    </tr>

    <tr class="right">
      <td colspan="3">
        <%= t.submit "Зберегти", :class => "question_button" %>
      </td>
    </tr>
  </table>
  <% end %>
  <p id = "link_out"><%= link_to "Завершити", edit_test_path(@test.id) %></p>
</div>
  <div id="error">
    <%= flash[:error] || flash[:notice] %>
  </div>

  <p id="admin_footer"></p>
</body>