= form_for @question do |f|
  .panel-body
    .row
      .col-lg-4.center
        %button.btn.btn-xl.btn-circle.btn-success.change-type{onclick: 'return false', data: {question_type: 1}, disabled: @question.logical? || @question.no_type? ? nil : true}
          %i.fa.fa-leaf
      .col-lg-4.center
        %button.btn.btn-xl.btn-circle.btn-warning.change-type{onclick: 'return false', data: {question_type: 2}, disabled: @question.plural? || @question.no_type? ? nil : true}
          %i.fa.fa-check-square
      .col-lg-4.center
        %button.btn.btn-xl.btn-circle.btn-danger.change-type{onclick: 'return false', data: {question_type: 3}, disabled: @question.associative? || @question.no_type? ? nil : true}
          %i.fa.fa-random
    .row.center
      - type = I18n.t("interface.question.#{{1 => 'logical', 2 => 'plural', 3 => 'associative'}[@question.question_type || 1]}")
      %h3#QuestionType{data: {logical: I18n.t('interface.question.logical'), plural: I18n.t('interface.question.plural'), manytomany: I18n.t('interface.question.associative')}} #{type}
    = f.hidden_field :question_type, value: @question.question_type || 1
    = f.hidden_field :toast_id
    .form-group
      %h4 #{I18n.t 'interface.question.question_text'}:
      = f.cktext_area :text
    .form-group
      %h4 #{I18n.t 'interface.question.answers'}:
      - case @question.question_type
      - when 1
        = render partial: 'logical_form', locals: {f: f}
      - when 2
        = render partial: 'plural/builder', locals: {f: f}
      - when 3
        = render partial: 'associative/builder', locals: {f: f}
      - else
        = render partial: 'logical_form', locals: {f: f}
        = render partial: 'plural/builder', locals: {f: f}
        = render partial: 'associative/builder', locals: {f: f}
  .panel-footer.right
    = f.submit current_page?(new_question_path) ? I18n.t('interface.create') : I18n.t('interface.save'), class: 'btn btn-info'
    = link_to I18n.t('interface.cancel'), edit_toast_path(@question.toast_id), class: 'btn btn-default'

#plural-prototype.form-group.input-group.hidden
  %span.input-group-addon
    %input{name: 'question[answer2s_attributes][n][is_right]', type: 'hidden', value: 0}
    = check_box_tag 'question[answer2s_attributes][n][is_right]', 1
  = text_field_tag 'question[answer2s_attributes][n][text]', '', class: 'form-control default'

#rm-flag-prototype
  = hidden_field_tag :_destroy, 1

#associative-prototype.hidden.row
  .col-lg-5
    .form-group.answer-left
      = text_field_tag 'question[answer3s_attributes][0][left_text]', '', data: {side: :left}, class: 'form-control'
  .col-lg-2.center
    %button.btn.btn-lg.btn-circle.btn-default.chain-locker{onclick: 'return false', data: {locked: 'yes'}}
      %i.fa.fa-chain
  .col-lg-5
    .form-group.answer-right
      = text_field_tag 'question[answer3s_attributes][0][right_text]', '', data: {side: :right}, class: 'form-control'
