- config = @question.question_type && @question.question_type != 2 ? {hidden: true} : {}
#plural-form{config}
  .form-group.center
    %button.btn.btn-square.btn-xl.btn-info.add-plural{ onclick: 'return false' }
      %i.fa.fa-plus
    %button.btn.btn-square.btn-xl.btn-info.del-plural{ onclick: 'return false' }
      %i.fa.fa-minus
  .form-group.col-lg-4#plural-answers{ data: {count: @question.answer2s.count} }
    - if @answers.empty?
      .form-group.input-group
        %span.input-group-addon= check_box_tag 'plural_answers[new0[is_right]]'
        = text_field_tag 'plural_answers[new0[text]]', '', class: 'form-control default'
    - else
      - @answers.each do |answer|
        .form-group.input-group
          %span.input-group-addon= check_box_tag "plural_answers[#{answer.id}[is_right]]", '', ({checked: true} if answer.is_right)
          = text_field_tag "plural_answers[#{answer.id}[text]]", answer.text, class: 'form-control default'
