<div class="admin_bkg">
  <div>_</div> <!-- without it something goes wrong -->
<div class = "journal_content">

<div id = "question_content" style="margin-top: 10%">
<%= form_for @question do |t| %>
    <%= t.text_area :condition, :id => "question_text" %>
    <%=
        case @question.question_type
        when 1
          render 'logical_form'
        when 2
          render 'plural_form'
        else
          render 'many_to_many_form'
        end
    %>
    <p class="right"><%= t.submit "Зберегти" %></p>
<% end %>
</div>
<p id = "link_out"><%= link_to "Завершити", edit_toast_path(@question.toast_id) %></p>
<div id="exit">
  <%= link_to destroy_user_session_path, :method => :delete do %>
      <%= image_tag("exit.gif", width: "50px") %>
  <% end %>
</div>
</div>
  <p id="admin_footer" class="admin_footer"></p>
</div>

<script type="text/javascript">
    min_screen_size = 550;
    adaptation();
</script>