<div class = "admin_bkg">
<div>_</div> <!-- without it something goes wrong -->

<div class = "window_sign_in">
  <p id="sign_header">Реєстрація</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <table id="sign_form">
        <tr><td><br/></td></tr>
        <tr><td>логін:</td></tr>
        <tr>
          <td><%= f.text_field :login, autofocus: true, class: "fields" %></td>
        </tr>
        <tr><td>пароль:</td></tr>
        <tr>
          <td><%= f.password_field :password, autocomplete: "off", class: "fields" %></td>
        </tr>
        <tr><td>пароль(ще раз):</td></tr>
        <tr>
          <td><%= f.password_field :password_confirmation, autocomplete: "off", class: "fields" %></td>
        </tr>
        <tr>
        <tr>
          <td>
            <%= f.check_box :admin %> <%= f.label "Адмін?" %>
          </td>
        </tr>
        <tr class="center">
          <td><%= f.submit "Реєструвати", id: "sign_button" %></td>
        </tr>
      </table>
  <% end %>
</div>

<div id="error">
  <%= flash[:alert] %>
</div>

</div>