<div class="user_bkg">
  <div>_</div> <!-- without it something goes wrong -->
  <p class="user"><%= link_to 'login', new_user_session_path %></p>

  <div class="red">
    <%= devise_error_messages! %>
  </div>

  <p class="user"><%= link_to current_user.login, root_path if current_user %></p>
  <div class="registration_form">
    <h1 class="center">Реєстрація</h1>
    <p class="center">(ПІБ для адмінів не є обов'язковим)</p>
    <div id="user_info">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <table>
        <tr>
          <td>Логін:</td>
          <td><%= f.text_field :login, autofocus: true %></td>
        </tr>
        <tr>
          <td>Прізвище:</td>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <td>Імя:</td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td>По-батькові:</td>
          <td><%= f.text_field :father_name %></td>
        </tr>
        <tr>
          <td>Код-запрошення:</td>
          <td><%= f.text_field :token %></td>
        </tr>
        <tr>
          <td>Пароль:</td>
          <td><%= f.password_field :password, autocomplete: "off" %></td>
        </tr>
        <tr>
          <td>Пароль(ще раз):</td>
          <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
        </tr>
        <tr>
          <td>Перевірте введене!!!</td>
          <td><%= f.submit "Реєструвати" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>

  <p id="user_footer" class="user_footer"></p>
  <div id="error">
    <%= flash[:alert] %>
  </div>
</div>
<script type="text/javascript">
    min_screen_size = 600;
    adaptation();
</script>