#ModalAddGroup.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} &times;
        %h4.modal-title #{I18n.t 'interface.group.add_new_group'}
      = form_for @group, class: 'form' do |f|
        .modal-body
          = f.label :name, I18n.t('interface.name')
          = f.text_field :name, class: 'form-control'
        .modal-footer
          .actions
            = submit_tag @group.name.nil? ? I18n.t('interface.create') : I18n.t('interface.save'), class: 'btn btn-info'
            %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} #{I18n.t 'interface.close'}
