.panel.panel-warning.main
  .panel-heading
    %h3 #{I18n.t 'interface.mark.mark_systems'}
  .panel-body
    %h4 #{I18n.t 'interface.mark.available_mark_systems_list'}:
    %table.table.table-striped
      %tr
        %th #{I18n.t 'interface.name'}
        %th #{I18n.t 'interface.mark.marks'}
        %th #{I18n.t 'interface.actions'}
      - @mark_systems.each do |mark_system|
        %tr
          %td= mark_system.name
          %td= truncate(mark_system.marks.order(:percent).map{ |mark| mark.presentation }.join(', '), length: 100) unless mark_system.marks.empty?
          %td.actions
            = link_to edit_mark_system_path(mark_system) do
              .btn.btn-sm.btn-info
                %i.fa.fa-edit
            = link_to mark_system_path(mark_system), method: :delete, data: {confirm: I18n.t('interface.del_attention')} do
              .btn.btn-sm.btn-danger
                %i.fa.fa-trash
    .right= paginate @mark_systems
  .panel-footer
    = link_to I18n.t('interface.mark.new_mark_system'), new_mark_system_path, class: 'btn btn-default'
