= render partial: 'groups/modal/add_group'
.panel.panel-warning.different
  .panel-heading
    %h3 #{I18n.t 'interface.group.edit_group'}
  .panel-body
    .form-group
      %strong #{I18n.t 'interface.name'}:
      = @group.name
      = link_to "(#{I18n.t('interface.change')})", '#ModalAddGroup', data: {toggle: 'modal'}
    - if @group.students.present?
      .form-group
        %h2.center #{I18n.t 'interface.group.users_list'}
        %table.table.table-striped
          %tr
            %th #{I18n.t 'interface.login'}
            %th #{I18n.t 'interface.last_name'}
            %th #{I18n.t 'interface.first_name'}
            %th #{I18n.t 'interface.father_name'}
            %th #{I18n.t 'interface.group.groups'}
            %th #{I18n.t 'interface.check'}
          - @group.students.each do |user|
            %tr
              %td= user.login
              %td= user.last_name
              %td= user.first_name
              %td= user.father_name
              %td= user.groups.map(&:name).join(', ')
              %td
                = link_to leave_group_path(@group, params: {user: user}), data: {confirm: I18n.t('interface.del_attention')} do
                  %i.fa.fa-user-times
  .panel-footer
    = link_to I18n.t('interface.group.all_groups'), groups_path, class: 'btn btn-default'
