.panel.panel-warning.different
  .panel-heading
    %h3 Edit group
  = form_for @group, class: 'form' do |f|
    .panel-body
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        %h2.center Users list
        %table.table.table-striped
          %tr
            %th Last name
            %th First name
            %th Father name
            %th Groups
            %th Actions
          - @users.each do |user|
            %tr
              %td= user.last_name
              %td= user.first_name
              %td= user.father_name
              %td= user.groups.map{|group| group.name}.join(', ')
              %td.actions
                = link_to edit_user_path(user) do
                  .btn.btn-sm.btn-info
                    %i.fa.fa-edit
                = link_to user_path(user), method: :delete, data: {confirm: 'Are you sure?'} do
                  .btn.btn-sm.btn-danger
                    %i.fa.fa-trash
        .right= will_paginate @users
    .panel-footer
      = f.submit 'Update group', class: 'btn btn-info'
      = link_to 'Cancel', groups_path, class: 'btn btn-default'
