<div class="admin_bkg">
  <table id="head_panel">
    <tr>
      <td id="tbl_head_left"><%= link_to current_user.login, root_path %></td>
      <td id="tbl_head_right">
        <span>
          Коди-запрошення:
          <%= submit_tag 'Згенерувати', id: 'get_token', class: 'inline' %>
          <span>
            Admin:<span id="admin_token" class="red"><%= @token[:admin] %></span>
            User:<span id="user_token" class="red"><%= @token[:user] %></span>
          </span>
        </span>
        <%= link_to "Групи & Користувачі", journal_path %>
      </td>
    </tr>
  </table>

  <p id="admin_big_header">Ласкаво просимо</p>

  <table id="admin_content">
    <col width="210px">
    <col width="340px">
    <col width="270px">
    <tr>
      <td valign="top"> <!-- create toast -->
        <p class="admin_small_header">Створити тест</p>
        <%= form_for @toast do |t| %>
          <table style="margin-bottom: 20px;">
            <tr><td>Оберіть предмет: <%= link_to "(створ.)", new_subject_path, :class => 'small_link' %></td></tr>
            <tr>
              <td>
                <%= t.select(
                           :subject_id,
                           Subject.all.collect {|p| [ p.subject_name, p.id ] }, {include_blank: '...'},
                           class: "admin_selects",
                           id: "select_to_create",
                           style: "margin-top: 10px; margin-bottom: 10px;",
                           onChange: "subject_selected();",
                    )
                %>
                <%= link_to "Видал.", 'delete_subject', :id => 'rm_subject', :class => 'small_link' %>
              </td>
            </tr>
            <tr><td>Введіть тему:</td></tr>
            <tr><td><%= t.text_field :name, :id => 'theme', :class => 'admin_fields' %></td></tr>
          </table>
          <%= t.submit "Створити", :class => 'admin_buttons' %>
        <% end %>
      </td>
      <td valign="top"> <!-- find toast -->
        <p class="admin_small_header">Знайти існуючий тест</p>
        <p>Відомі дані для пошуку:</p>
        <%= form_tag search_toast_path, remote: true do |t| %>
            <table id="search_form">
                <col width="350">
                <tr>
                  <td>Оберіть предмет:</td>
                  <td>
                    <%= select_tag('subject',
                                   options_for_select(Subject.all.collect {|p| [ p.subject_name, p.id ] }, '...'),
                                   class: "admin_selects"
                        )
                    %>
                  </td>
              </tr>
              <tr>
                <td>Введіть тему:</td>
                <td><%= text_field_tag :theme, "", :id => 'theme', :class => 'admin_fields' %></td>
              </tr>
              <tr>
                <td>Введіть групу:</td>
                <td><%= text_field_tag :group, "", :id => 'group', :class => 'admin_fields' %></td>
              </tr>
            </table>
            <%= submit_tag "Знайти", :name => nil, :class => 'admin_buttons' %>
        <% end %>
        <!-- find toast results -->
        <%= render 'toasts/toasts' %>
      </td>
      <td valign="top"> <!-- last results -->
        <p class="admin_small_header">Остання активність</p>
        <%= render 'activity' %>
      </td>
    </tr>
  </table>

<div id="exit">
  <%= link_to destroy_user_session_path, :method => :delete do %>
      <%= image_tag "exit.gif", :style => 'width: 50px;' %>
  <% end %>
</div>

<div id="error">
  <%= flash[:alert] || flash[:notice] %>
</div>

<p id="admin_footer" class="admin_footer"></p>

</div>

<script type="text/javascript">
    min_screen_size = 600;
    adaptation();
</script>