.panel.panel-warning.main
  .panel-heading
    %h3 #{ @user == current_user ? I18n.t('interface.menu.my_profile') : I18n.t('interface.user.edit_user')}
  = form_for @user do |f|
    .panel-body
      .form-group
        = f.label :login, I18n.t('interface.login')
        = f.text_field :login, class: 'form-control'
      .form-group
        = f.label :last_name, I18n.t('interface.last_name')
        = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label :first_name, I18n.t('interface.first_name')
        = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :father_name, I18n.t('interface.father_name')
        = f.text_field :father_name, class: 'form-control'
      - if can? :change_pswd, @user
        .form-group
          = f.label :password, I18n.t('interface.password')
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
        .form-group
          = f.label :password_confirmation, I18n.t('interface.password_confirmation')
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
    .panel-footer
      = f.submit I18n.t('interface.save'), class: 'btn btn-default'
      - unless current_user.student?
        .pull-right
          = link_to user_path(@user), method: :delete, data: {confirm: I18n.t('interface.del_attention')} do
            .btn.btn-sm.btn-danger
              %i.fa.fa-trash
