- provide(:title, 'Привіт студент')
= content_for :styles do
  = stylesheet_link_tag 'student'
.navbar-inverse
  .navbar-header
    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-responsive-collapse'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Toaster', root_path, class: 'navbar-brand'
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{data: {toggle: 'dropdown'}}
          = current_user.login
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Action', root_path
          %li= link_to 'Вийти', destroy_user_session_path

.student_content
  %p.user_big_header Ласкаво просимо
  .user_info
    .left
      %p.user_small_header Особисті дані
      %p
        Прізвище:
        = current_user.last_name
      %p
        Ім'я:
        = current_user.first_name
      %p
        По-батькові:
        = current_user.father_name
      %p Групи до яких належить користувач:
      %p= render 'groups/user_groups'
      %p Наявні для проходження тести
      %p= render 'toasts/user_toasts'
    .right
      %p.user_small_header Останні результати
      .results
        %table.table
          %tr
            %th Предмет
            %th Назва тесту
            %th Бал
            %th Дата
          - @results.each do |result|
            %tr
              %td=result[0]
              %td=result[1]
              %td=result[2]
              %td=result[3]

%p.user_footer#user_footer

= content_for :plugins do
  :javascript
    min_screen_size = 600;
    adaptation();
