<body id="user_bkg">

<p id="user"><%= current_user.login %></p>

<div id="student_content">
  <p id="user_big_header">Ласкаво просимо</p>
  <div id="user_info">
    <div id="left">
      <p class="user_small_header">Особисті дані</p>
      <p>Прізвище: <%= current_user.last_name %></p>
      <p>Ім'я: <%= current_user.first_name %></p>
      <p>По-батькові: <%= current_user.father_name %></p>
      <p>Групи до яких належить користувач:</p>
      <p>
        <%= render 'groups/user_groups' %>
      </p>
      <p>Наявні для проходження тести</p>
      <p>
        <%= render 'tests/user_tests' %>
      </p>

    </div>
    <div id="right">
      <p class="user_small_header">Останні результати</p>
      <div id="results">
        <table style = "font-size: 14px; text-align: center; left: -10px;">
          <col width="100">
          <col width="150">
          <col width="50">
          <col width="100">
          <tr><td>Предмет</td> <td>Назва тесту</td> <td>Бал</td> <td>Дата</td></tr>
          <% @results.each do |result| %>
              <tr>
                <td><%=result[0]%></td><td><%=result[1]%></td><td><%=result[2]%></td><td><%=result[3]%></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


<div id="exit">
  <%= link_to destroy_user_session_path, :method => :delete do %>
      <%= image_tag("exit.gif", width: "50px") %>
  <% end %>
</div>
<p id="user_footer"></p>
</body>