%h3= "Результати групи #{@group.name} по тесту #{@toast.name}"
%table{ border: 1}
  %tr
    %th= I18n.t 'interface.last_name'
    %th= I18n.t 'interface.mark.marks'
    %th= I18n.t 'interface.date'

  - @users.each do |user|
    %tr
      %td
        = user.first_name
        = user.last_name
        = user.father_name
      %td= user.results.map{|m| m.presentation}.join(', ')
      %td= (l user.results.first.created_at, format: :short) unless user.results.first.nil?
