.panel.panel-warning.different
  .panel-heading
    %h3 #{I18n.t 'interface.results.results'}
  = form_tag show_results_path, method: :get do
    .panel-body
      .col-lg-6
        %h3.center #{I18n.t 'interface.results.create_result_table'}
        .form-group
          = label_tag :group_id, I18n.t('interface.group.group')
          = collection_select :group, :id, Group.all, :id, :name, {prompt: false}, {class: 'form-control'}
        .form-group
          = label_tag :toast_id, I18n.t('interface.toast.toast')
          = collection_select :toast, :id, Toast.all, :id, :name, {prompt: false}, {class: 'form-control'}
        .form-group
          = check_box_tag :best, true, true
          = label_tag :best, I18n.t('interface.results.best')
        .form-group= submit_tag I18n.t('interface.results.build_results_table'), class: 'btn btn-info'
      .col-lg-6
        %h3.center #{I18n.t 'interface.results.last_results'}
        %table.table.table-striped
          %tr
            %th #{I18n.t 'interface.login'}
            %th #{I18n.t 'interface.toast.toast'}
            %th #{I18n.t 'interface.mark.mark'}
            %th #{I18n.t 'interface.date'}
          - @results.each do |result|
            %tr
              %td=result.user.login
              %td=result.toast.name
              %td=Mark.where("percent <= #{result.mark*100} AND mark_system_id = #{result.toast.mark_system_id}").order(percent: :desc).pluck(:presentation).first
              %td= l Time.at(result['created_at']), format: :short
    .panel-footer
