.panel.panel-warning.main
  .panel-heading
    %h3 #{I18n.t 'interface.results.results'}
  .panel-body
    %h4 #{I18n.t 'interface.group.group'}: #{Group.find(params[:group][:id]).name} - #{I18n.t 'interface.toast.toast'}: #{Toast.find(params[:toast][:id]).name}
    %table.table.table-striped
      %tr
        %th #{I18n.t 'interface.last_name'}
        %th #{I18n.t 'interface.mark.marks'}
        %th #{I18n.t 'interface.date'}
      - @users.each do |user|
        %tr
          %td= link_to user.last_name, edit_user_path(user)
          %td
            - if params[:best].present?
              = user.results.where(mark: user.results.maximum(:mark)).last.try(:presentation)
            - else
              = user.results.map{|m| m.presentation}.join(', ')
          %td
            - if params[:best].present?
              - date = user.results.where(mark: user.results.maximum(:mark)).last.try(:created_at)
              = l(date, format: :short) unless date.nil?
            - else
              - date = user.results.last.try(:created_at)
              = l(user.results.last.created_at, format: :short) unless date.nil?
  .panel-footer
    = link_to I18n.t('interface.results.build_another'), results_path, class: 'btn btn-warning'
    .pull-right
      = I18n.t('interface.results.export')
      = link_to( export_results_path(format: "xls", params: params), class: 'btn btn-success', method: :post ) do
        %i.fa.fa-file-excel-o
        = I18n.t('interface.results.exel')

      = link_to( export_results_path(format: "doc", params: params), class: 'btn btn-success', method: :post ) do
        %i.fa.fa-file-word-o
        = I18n.t('interface.results.word')
