<% unless !@toasts || @toasts.empty? %>
<div id= "find">
  <table>
    <col width="140">
    <col width="70">
    <col width="80">
    <col width="60">
    <col width="25">
        <% @toasts.each do |toast| %>
            <tr>
                <td><%= toast.name %></td>
                <td><%= toast.subject.name %></td>
                <td><%= link_to "info", edit_toast_path(toast.id) %></td>
                <td style = "width: 40px;">
                  <%= link_to "тар.", toasts_path %>
                  &nbsp;
                  <%= link_to toast, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <%= image_tag 'delete.gif', style: "width: 10px;" %>
                  <% end %>
                </td>
            </tr>
        <% end %>
  </table>
</div>
<% end %>