.panel.panel-warning.main
  .panel-heading
    %h3 #{I18n.t 'interface.toast.toasts'}
  .panel-body
    %h4 #{I18n.t 'interface.toast.available_toasts_list'}:
    = form_tag search_toasts_path, method: :get do
      .form-group
        .col-lg-7.col-md-7= text_field_tag :search_filter, '', class: 'form-control'
        .col-lg-2.col-md-2= submit_tag 'Search', class: 'btn btn-warning form-control'
    %table.table.table-striped
      %tr
        %th #{I18n.t 'interface.name'}
        %th #{I18n.t 'interface.subject.subject'}
        %th #{I18n.t 'interface.group.groups'}
        %th #{I18n.t 'interface.actions'}
      - @toasts.each do |toast|
        %tr
          %td= toast.name
          %td= toast.subject.name
          %td= truncate(toast.groups.map{ |group| group.name }.join(', '), length: 100) unless toast.groups.empty?
          %td.actions
            = link_to edit_toast_path(toast) do
              .btn.btn-sm.btn-info
                %i.fa.fa-edit
            = link_to toast_path(toast), method: :delete, data: {confirm: I18n.t('interface.del_attention')} do
              .btn.btn-sm.btn-danger
                %i.fa.fa-trash
    .right= paginate @toasts
  .panel-footer
    = link_to I18n.t('interface.toast.new_toast'), new_toast_path, class: 'btn btn-default'
