<div class="user_bkg">
  <div>_</div> <!-- without it something goes wrong -->
<p id="user"><%= current_user.login %></p>

<%= form_tag toast_path(params[:id]) do %>
  <div id="student_content">
    <h2>Питання №<%= @local+1 %><span id="time"></span></h2>
    <div id="center">
      <div id="question">
        <p style="margin: 5px;"><%= @question.condition %></p>
      </div>
      <%= render 'questions/answer_field' %>
    </div>
    <div class="right">
      <%= submit_tag 'Наступне' %>
    </div>
  </div>
<% end %>

<div id="mend"><%= link_to "На головну", root_path %></div>

<p id="user_footer" class="user_footer"></p>
</div>