= content_for :styles do
  = stylesheet_link_tag 'student'
= content_for :plugins do
  = javascript_include_tag 'pages/passing/question_time'
  = javascript_include_tag 'pages/passing/associative'
  = javascript_include_tag 'pages/passing/plural'
.student_content
  - unless @toast.question_time.nil?
    .timer{data: {time: @toast.question_time}}
  = form_tag passing_path, id: 'passing-form' do
    = hidden_field_tag :id, @toast.id
    .panel.panel-success.main
      .panel-heading
        %h3
          #{I18n.t('interface.toast.question_number')+(session[:last_question]+1).to_s}
          #{I18n.t('interface.toast.of')}
          #{session[:questions].size}
          .pull-right.timer-ticker.red
      .panel-body
        .question-text= @question.text.html_safe
        %hr
        .asnwers
          %h4 #{I18n.t 'interface.question.answers'}
          - case @question.question_type
          - when 1
            .form-group
              = radio_button_tag :is_right, true
              #{I18n.t 'interface.question.answer_yes'}
            .form-group
              = radio_button_tag :is_right, false
              #{I18n.t 'interface.question.answer_no'}
          - when 2
            - @question.plurals.each do |answer|
              .form-group
                %span= check_box_tag "plural_answers[#{answer.id}]"
                %span{class: @toast.learning_flag && answer.is_right ? 'right-answer' : ''}= answer.text
          - when 3
            - left = @question.associations.map{|item| item.left_text.blank? ? nil : {id: item.id, text: item.left_text}}.compact.shuffle
            - right = @question.associations.map{|item| item.right_text.blank? ? nil :{id: item.id, text: item.right_text}}.compact.shuffle
            .row
              .col-lg-6.sortable.associations_left
                - left.each do |item|
                  .association-item{data: {id: item[:id]}} #{item[:text]}
              .col-lg-6.sortable.associations_right
                - right.each do |item|
                  - unless item[:text].blank?
                    .association-item{data: {id: item[:id]}} #{item[:text]}
            = hidden_field_tag :associations_left, left.map{ |e| e[:id] }.join(',')
            = hidden_field_tag :associations_right, right.map{ |e| e[:id] }.join(',')
      .panel-footer
        = link_to I18n.t('interface.toast.exit_toast'), root_path, class: 'btn btn-danger'
        - if @toast.learning_flag
          = button_tag I18n.t('interface.toast.next'), class: 'learning-next btn btn-default pull-right next_question',
            onclick: 'return false;'
        - else
          = submit_tag I18n.t('interface.toast.next'), class: 'btn btn-default pull-right next_question'
%p.user_footer#user_footer
