= render partial: 'subjects/modal/add_teacher'
.panel.panel-warning.different
  .panel-heading
    %h3 #{I18n.t 'interface.subject.edit_subject'}
  = form_for @subject, class: 'form' do |f|
    .panel-body
      .form-group
        = f.label :name, I18n.t('interface.name')
        = f.text_field :name, class: 'form-control'
      .form-group
        %strong Teachers
        = render partial: 'layouts/tags', locals: {objects: @subject.teachers.select(:id, :login), url: deny_to_teacher_subject_path(@subject)}
    .panel-footer
      = f.submit I18n.t('interface.subject.update_subject'), class: 'btn btn-info'
      = link_to I18n.t('interface.subject.add_teacher'), '#ModalAddTeacher', data: {toggle: 'modal'}, class: 'btn btn-default'
      = link_to I18n.t('interface.cancel'), subjects_path, class: 'btn btn-default'
