= render partial: 'subjects/modal/add_subject'
%h2 Subjects list
%table.table.table-striped
  %tr
    %th Name
    %th Toasts
    %th Actions
  - @subjects.each do |subject|
    %tr
      %td= subject.name
      %td= subject.toasts.map{|toast| toast.name}.join(', ')
      %td
        = link_to edit_subject_path(subject) do
          %span.fa.fa-edit
= link_to '#ModalAddSubject', data: {toggle: 'modal'} do
  %h3 Create new