%h2 Create new subject
= form_for @subject, class: 'form' do |f|
  .form-group
    .col-lg-1
      = f.label :name
    .col-lg-6
      = f.text_field :name, class: 'form-control'
    .col-lg-5
      = f.submit 'Create subject', class: 'btn btn-default'
%h2 Subjects list
%table.table.table-striped
  %tr
    %th Name
    %th Toasts
    %th Actions
  - @subjects.each do |subject|
    %tr
      %td= subject.name
      %td= subject.toasts.map{|toast| toast.name}.join(', ')
      %td
        = link_to edit_subject_path(subject) do
          %span.fa.fa-edit
