= render partial: 'subjects/modal/add_subject'
.panel.panel-warning.main
  .panel-heading
    %h3 #{I18n.t 'interface.subject.subjects'}
  .panel-body
    %h4 #{I18n.t 'interface.subject.available_subjects_list'}:
    %table.table.table-striped
      %tr
        %th #{I18n.t 'interface.name'}
        %th #{I18n.t 'interface.subject.toasts'}
        %th #{I18n.t 'interface.actions'}
      - @subjects.each do |subject|
        %tr
          %td= subject.name
          %td= subject.toasts.map{|toast| toast.name}.join(', ')
          %td.actions
            = link_to edit_subject_path(subject) do
              .btn.btn-sm.btn-info
                %i.fa.fa-edit
            = link_to subject_path(subject), method: :delete, data: {confirm: I18n.t('interface.del_attention')} do
              .btn.btn-sm.btn-danger
                %i.fa.fa-trash
    .right= paginate @subjects
  .panel-footer
    = link_to I18n.t('interface.subject.new_subject'), '#ModalAddSubject', data: {toggle: 'modal'}, class: 'btn btn-default'
