<h2 style="text-align: center">Новий користувач:</h2>
<div class="page_content">
  <%= form_tag save_user_info_path do %>
      <table>
        <colgroup>
          <col width="100px"/>
          <col width="100px"/>
        </colgroup>
        <tr>
          <td>Логін</td>
          <td><%= text_field_tag :user_login, @user.login, class: "form_fields" %></td>
        </tr>
        <tr>
          <td>Прізвище</td>
          <td><%= text_field_tag :user_last_name, @user.last_name, class: "form_fields" %></td>
        </tr>
        <tr>
          <td>Ім'я</td>
          <td><%= text_field_tag :user_first_name, @user.first_name, class: "form_fields" %></td>
        </tr>
        <tr>
          <td>По-батькові</td>
          <td><%= text_field_tag :user_father_name, @user.father_name, class: "form_fields" %></td>
        </tr>
        <tr>
          <td>
            <%= button_tag "Зберегти", :name => 'save_user', :class => 'admin_buttons_small', :value => @user.id %>
          </td>
          <td></td>
        </tr>
      </table>
      <div>
        <h4>Групи до яких входить користувач:</h4>
        <% if @user_groups %>
        <% @user_groups.each { |group| %>
            <span>
              <%=
                  link_to group.name,
                          delete_users_group_path(
                                  :group_id => group.id,
                                  :user_id => @user.id
                          )
              %>
            </span>
        <% } %>
        <% end %>
    </div>
    <% end %>
</div>