<div class="admin_bkg">
<div>_</div> <!-- without it something goes wrong -->
<div class = "journal_content">
<div class="journal">
  <%= form_tag journal_path do %>
    <table id="pages">
      <colgroup>
        <col width="290px"/>
        <col width="60px"/>
        <col width="290px"/>
      </colgroup>
      <tr>
        <td> <!-- left_page content -->
          <%= render 'left_page' %>
        </td>
        <td></td> <!-- spacer -->
        <td> <!-- right_page content -->
          <%= render 'right_page' %>
        </td>
      </tr>
      <tr>
        <td> <!-- left_page search line -->
          <% if @users %>
            <%= text_field_tag 'user_name', params[:user_name], class: 'search_line' %>
            <%= button_tag 'Знайти', :name => 'search_user', :class => 'admin_buttons_small btn_search' %>
          <% end %>
        </td>
        <td></td> <!-- spacer -->
        <td> <!-- right_page search line -->
          <% if @groups %>
            <%= text_field_tag 'group_name', params[:group_name], class: 'search_line' %>
            <%= button_tag 'Знайти', :name => 'search_group', :class => 'admin_buttons_small btn_search' %>
          <% end %>
        </td>
      </tr>
      <tr>
         <!-- left_page buttons -->
        <td>
          <%= render 'buttons', :page => 0 %>
        </td>
        <td></td> <!-- spacer -->
        <!-- right_page buttons -->
        <td>
          <%= render 'buttons', :page => 1 %>
        </td>
      </tr>
    </table>
  <% end %>
</div> <!-- end of book -->

<p id="bookmark1"><%= link_to "Головна", root_path %></p>		                <!-- bookmark1 -->
<p id="bookmark2"><%= link_to "Нов. Кор.", new_user_registration_path %></p>	<!-- bookmark2 -->
<p id="bookmark3"><%= link_to "Форзац", journal_path %></p>		                <!-- bookmark3 -->

<!--<?php-->
    <!--if ($error_string != "")-->
        <!--myerror($error_string);-->
    <!--?>-->
<% if flash[:notice] || flash[:error] %>
  <div id="error">
    <%= flash[:error] || flash[:notice] %>
  </div>
<% end %>
</div>
  <p id="admin_footer" class="admin_footer"></p>
</div>

<script type="text/javascript">
    min_screen_size = 750;
    adaptation();
</script>