- provide(:title, 'Привіт студент')
= content_for :styles do
  = stylesheet_link_tag 'student'
.student_content.user-profile
  %p.user_big_header #{I18n.t 'interface.welcome'}
  .user_info
    .left
      %p.user_small_header Особисті дані
      %p
        #{I18n.t 'interface.last_name'}:
        = current_user.last_name
      %p
        #{I18n.t 'interface.first_name'}:
        = current_user.first_name
      %p
        #{I18n.t 'interface.father_name'}:
        = current_user.father_name
      %p Групи до яких належить користувач:
      %p= current_user.groups.map{ |group| group.name }.join(', ') unless current_user.groups.empty?
      %p Наявні для проходження тести:
      %p
        - Toast.joins(groups: :users).where(users: {id: current_user.id}).each do |toast|
          = "#{link_to toast.name, toast_path(toast), data: {confirm: I18n.t('interface.del_attention')}}  ".html_safe
    .right
      %p.user_small_header Останні результати
      .results
        %table.table
          %tr
            %th Назва тесту
            %th Бал
            %th Дата
          - @results.each do |result|
            %tr
              %td=result['toast_name']
              %td=result['f_mark']
              %td= l Time.parse(result['created_at']), format: :short

%p.user_footer#user_footer
