<% unless !@tests || @tests.empty? %>
<div id= "find">
  <table>
    <col width="140">
    <col width="70">
    <col width="80">
    <col width="70">
        <% @tests.each do |test| %>
            <tr>
                <td><%= test.name %></td>
                <td><%= test.get_subject_name %></td>
                <td><%= link_to "info", edit_test_path(test.id) %></td>
                <td style = "width: 40px;"><%= link_to "тар.", tests_path %>
                &nbsp;
                <%= link_to "вид.", tests_path(test.id), :method => :delete %></td>
            </tr>
        <% end %>
  </table>
</div>
<% end %>