<body id = "journal_content">
<%= form_tag reg_group_test_path do %>
  <%= hidden_field_tag "test_id", @test.id %>
  <table style="border: ridge">
    <colgroup>
      <col width="400">
      <col width="400">
    </colgroup>
    <tr style="vertical-align: top;">
      <td style="border-right: ridge">
        <div id = "test_info">
          <h2>Інформація тесту</h2>
          <ul>
            <li><h3>Назва: "<%= @test.name %>"</h3></li>
            <li><h3>Предмет: "<%= @subject_name %>"</h3></li>
          </ul>
          <h3>Список питань:</h3>
          <% unless @questions.empty? %>
            <ol>
            <% @questions.each do |question| %>
              <% if question.question_type != 3 %>
                <li><%= link_to truncate(question.condition, length: 64), edit_question_path(question) %></li>
              <% else %>
                <li><%= truncate(question.condition, length: 64) %></li>
              <% end %>
            <% end %>
            </ol>
          <% end %>
          <%= link_to "Додати питання", new_question_path(:question_test_id => @test.id) %>
        </div>
      </td>
      <td style="padding-left: 5%">
        <%= render 'journal/groups'%>
      </td>
    </tr>
    <tr>
      <td style="border-right: ridge"></td>
      <td class="right">
        <%= submit_tag "Реєструвати" %>
      </td>
    </tr>
  </table>
  <% end %>
  <div>
    Доступний для груп(натисніть аби вилучити зі списку):
    <% @test_groups.each do |group| %>
     <span><%= link_to group.name, del_group_test_path(:tid => @test.id, :gid => group.id) %></span>&nbsp
    <% end %>
  </div>

  <%= link_to root_path do %>
    <h2>На головну</h2>
  <% end %>

<% if flash[:notice] || flash[:error] %>
    <div id="error">
      <%= flash[:error] || flash[:notice] %>
    </div>
<% end %>
<p id="admin_footer"></p>
</body>