.navbar-inverse
  .navbar-header
    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-responsive-collapse'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Toaster', root_path, class: 'navbar-brand'
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{data: {toggle: 'dropdown'}}
          #{I18n.t 'interface.menu.manage_toasts'}
          %b.caret
        %ul.dropdown-menu
          %li= link_to I18n.t('interface.menu.list'), toasts_path
          %li= link_to I18n.t('interface.menu.new'), new_toast_path
      %li= link_to I18n.t('interface.menu.manage_groups'), groups_path
      %li= link_to I18n.t('interface.menu.manage_users'), users_path
      %li= link_to I18n.t('interface.menu.manage_subjects'), subjects_path
      %li.dropdown
        %a.dropdown-toggle{data: {toggle: 'dropdown'}}
          #{I18n.t 'interface.menu.mark_systems'}
          %b.caret
        %ul.dropdown-menu
          %li= link_to I18n.t('interface.menu.list'), mark_systems_path
          %li= link_to I18n.t('interface.menu.new'), new_mark_system_path
      %li
        = link_to I18n.t('interface.menu.results'), results_path
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{data: {toggle: 'dropdown'}}
          #{I18n.t 'interface.menu.invite_codes'}
          %b.caret
        %ul.dropdown-menu
          - local = InviteCode.local
          %li= link_to "Teacher: #{local[:admin]}", '#', id: 'admin_token'
          %li= link_to "User: #{local[:user]}", '#', id: 'user_token'
          %li
            %button.btn.btn-warning.key-gen #{I18n.t 'interface.menu.regenerate'}
      %li.dropdown
        %a.dropdown-toggle{data: {toggle: 'dropdown'}}
          = current_user.login
          %b.caret
        %ul.dropdown-menu
          %li= link_to I18n.t('interface.menu.my_profile'), edit_user_path(current_user)
          %li= link_to I18n.t('interface.menu.change_locale'), change_locale_path
          %li= link_to I18n.t('interface.menu.logout'), destroy_user_session_path, method: :delete
