- unless flash[:error].blank? && flash[:alert].blank?
  .alert.alert-danger
    = flash[:error]
    = flash[:alert]
- unless flash[:warning].blank?
  .alert.alert-warning= flash[:warning]
- unless flash[:notice].blank?
  .alert.alert-warning= flash[:notice]
- unless flash[:success].blank?
  .alert.alert-success= flash[:success]
