!!!
%html
  %head
    %title Toaster
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = yield :styles
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  - if current_user
    - background = current_user.admin ? 'admin-bkg' : 'user-bkg'
  %body{ class: current_user ? background : ''}
    = render partial: 'layouts/admin_bar' if current_user && current_user.admin
    = render partial: 'layouts/user_bar' if current_user && !current_user.admin
    .container
      = render 'layouts/flash'
      = yield

  = yield :plugins
