!!!
%html
  %head
    %title Toaster
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = yield :styles
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  - if current_user
    - background = !current_user.student? ? 'admin-bkg' : 'user-bkg'
  %body{ class: current_user ? background : ''}
    - if current_user && !current_user.student?
      = render partial: 'layouts/admin_bar'
    - elsif current_user
      = render partial: 'layouts/user_bar'
    .container
      = render 'layouts/flash'
      = yield

  = yield :plugins
